header {
    background-color: green;
}

h1 {
    text-align: center;
    font-size: 100px
}

li {
    display: inline-block;
    font-size: 30px;
    border: 2px solid black;
    margin: 10px;
    background:red;
    
}

li:hover {
    background-color: orange;
}

a {
    color: black;
}

main {
    margin: 50px;
}
